# Dependency directories
node_modules/
npm-debug.log
yarn-error.log

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
/build

# Output of the bundler
/dist

# Cache directories
/.pnp
.pnp.js

# Testing directories
/coverage

# Editor directories and files
/.vscode
/.idea
*.suo
*.ntvs*
*.njsproj
*.sln