.preview-pane {
    background-color: white;
    border-radius: 7px;
    margin-top: 1rem;
}

.personal-prev {
    text-align: center;
    background-color: lightblue;
    padding: 2rem 0;
    padding-bottom: 0.5rem;
}

.personal-prev > h1 {
    margin: 0;

    padding-bottom: 0.5rem;
}

.edu-prev-header {
    text-align: center;
    background-color: #e5edf8;
    border-radius: 7px;
}

.edu-prev-content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 25px;
}

.edu-prev-content > * {
    margin: 0;
}

.edu-prev-content > p:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.school-name {
    grid-column: 2;
    grid-row: 1;
    font-weight: 700;
}

.edu-prev-content > p:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}

.exp-prev-header {
    text-align: center;
    background-color: #e5edf8;
    border-radius: 7px;
}

.exp-prev-content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 25px;
}

.exp-prev-content > * {
    margin: 0;
}

.company-name {
    font-weight: 700;
}
