.experience-wrapper {
    max-width: 450px;
    margin: 1rem;
    border-radius: 10px;
    background-color: lightblue;
    padding: 5px;
}

.experience-entry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px;
}
